@model CarrinhoCompraVM

@{
    var CarrinhoCompraItens = Model.CarrinhoCompraItens;
}

<div class="text-center">
    <h1 class="titulo">Sua lista de compras</h1>
</div>

<div class="container">
    <div class="row">
        <table class="texto table">
            <thead>
                <tr class="texto">
                    <th>
                        Imagem
                    </th>
                    <th>
                        Título
                    </th>
                    <th>
                        Autor
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Preço
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedidoItem in CarrinhoCompraItens)
                {
                <tr class="texto">
                    <td>
                        <div class="img-miniatura">
                            <img src="@pedidoItem.Produto.ImagemUrl" class="img-fluid" />
                        </div>
                    </td>
                    <td>
                        @pedidoItem.Produto.Titulo
                    </td>
                    <td>
                        @pedidoItem.Produto.Autor
                    </td>
                    <td>
                        @pedidoItem.Produto.Categoria.CategoriaNome
                    </td>
                    <td>
                        R$ @pedidoItem.Produto.Preco
                    </td>
                    <td>
                        @pedidoItem.Quantidade
                    </td>
                    <td>
                        <a asp-action="RemoverDoCarrinho" asp-route-produtoId="@pedidoItem.ProdutoId">Remover</a>
                    </td>
                </tr>
                }

            <tr>
                <td class="texto"><b>Total:</b></td>
                <td class="texto">R$ @Model.Total</td>
                <td></td>
                <td></td>
                <td>
                    <a asp-action="FinalizaPedido" class="btn btn-padrao">Finalizar pedido</a>
                </td>
            </tr>

            </tbody>

        </table>
           
</div>
</div>

