@model Loja_Quadrinhos.Models.Produto

<div class="text-center">
    <h1 class="titulo">@Model.Categoria.CategoriaNome</h1>
</div>

<div class="container" style="margin-top:80px;">
    <div class="row">
        <div class="col-6">
            <div class="img-completa">
                <div class="imagem-completa">
                    <img src="@Model.ImagemUrl" class="img-fluid" />
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1 class="titulo-quadrinho">@Model.Titulo</h1>
            <p class="preco-detalhe">R$ @Model.Preco</p>
            <p class="descricao-detalhe">@Model.Descricao</p>
            <a asp-controller="CarrinhoCompra" asp-action="AdicionarAoCarrinho" asp-route-produtoId="@Model.ProdutoId" class="btn btn-comprar">Adicionar ao Carrinho</a>
        </div>
    </div>
</div>